.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
  
    .loginBox {
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 100%;
      max-width: 400px;
  
      h2 {
        color: #333;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input {
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
  
          &:focus {
            border-color: #007bff;
          }
        }
  
        button {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
      .registerButton {
        margin-top: 15px;
        padding: 12px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
      
        &:hover {
          background-color: #218838;
        }
      }
    }
  }